## Using TPOT to fit optimized machine learning models in Python

In this tutorial session we will explore how to use the packahe [TPOT](https://epistasislab.github.io/tpot/) to automatically choose the best machine learning algorithm and the optimal parameterization for the algorithm. We will show examples for classification and regression (in the machine learning sense, not the classic stats sense).

Lets dig right into our first example. First, we will import the necessasy packages:

In [1]:
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

Lets look at a first example using a built in dataset called `digits`. You can learn more about it at https://scikit-learn.org/stable/auto_examples/datasets/plot_digits_last_image.html.

In [2]:
digits = load_digits()

X_train, X_test, Y_train, Y_test = train_test_split(digits.data,digits.target, train_size=0.7, test_size=0.3)

Let's first do a regular ML run, using Random Forests, to see which accuracies we get.

In [3]:
rf_mod = RandomForestClassifier(n_estimators=500)

rf_mod.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [4]:
Y_pred = rf_mod.predict(X_test)

accuracy_score(Y_test,Y_pred)

0.9796296296296296

Pretty good. What would TPOT give us?

In [ ]:
from tpot import TPOTClassifier

In [5]:
tpot_mod = TPOTClassifier(generations=5, population_size=50, verbosity=2, n_jobs=8)

tpot_mod.fit(X_train,Y_train)

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=550, style=ProgressStyle(descript…

Generation 1 - Current best internal CV score: 0.9825900867091562
Generation 2 - Current best internal CV score: 0.9825900867091562
Generation 3 - Current best internal CV score: 0.9825900867091562
Generation 4 - Current best internal CV score: 0.9825900867091562
Generation 5 - Current best internal CV score: 0.9889282754511987
Generation 6 - Current best internal CV score: 0.9889282754511987
Generation 7 - Current best internal CV score: 0.9889282754511987
Generation 8 - Current best internal CV score: 0.9889282754511987
Generation 9 - Current best internal CV score: 0.9889282754511987
Generation 10 - Current best internal CV score: 0.9889282754511987

Best pipeline: RandomForestClassifier(LogisticRegression(PolynomialFeatures(input_matrix, degree=2, include_bias=False, interaction_only=False), C=0.5, dual=False, penalty=l1), bootstrap=True, criterion=entropy, max_features=0.4, min_samples_leaf=11, min_samples_split=6, n_estimators=100)

TPOTClassifier(config_dict=None, crossover_rate=0.1, cv=5,
               disable_update_check=False, early_stop=None, generations=10,
               max_eval_time_mins=5, max_time_mins=None, memory=None,
               mutation_rate=0.9, n_jobs=8, offspring_size=None,
               periodic_checkpoint_folder=None, population_size=50,
               random_state=None, scoring=None, subsample=1.0, template=None,
               use_dask=False, verbosity=2, warm_start=False)

We get an accuracy of ~0.99 with only ten generations. If we let it run for longer, it could be better.

But what do we do withit then? Well, TPOT is nice enough to output it's "findings" as a ready to run Python script:

In [80]:
tpot_mod.export('tpot_exported_pipeline.py')

How would it do with a more sparse and complex dataset? Let's look at some data from a masters student working with me, who is developing ML algorithms to classify burn scars in the State of São Paulo, Brazil. We have originally almost one million labelled pixels, but for this exercise we use a subset with 1000 pixels. We read the data using `pandas`, the Python implementation of `data.frames`.

In [ ]:
import pandas as pd
import os

In [83]:
# Set project folder as working folder
os.chdir('/home/thiago/Projects/TPOT_tutorial/')

# Read in csv data using pandas, letting it know there are no variable names
burn = pd.read_csv('./data/burn_scar_mapping/burn_scars_1000.csv')

Once the data is in, it is always a good idea to inspect the data to make sure it looks alright:

In [9]:
burn.head()

,Scene,Date,Class,Sensor,Blue,Green,Red,NIR,SWIR1,SWIR2,...,MSAVI,NDWI,SLAVI,NBR,BAIM,CSI,MIRBI,MI,S2,IRI
0,TM_CDR_220_75_1988_09_27_bd1_7_utm23S,1988-09-27,BA,TM,597.000001,726.999997,762.000000,901.999994,1283.999992,1466.999983,...,-0.688934,-0.107428,0.404666,-0.174748,4.062306e-07,0.702492,4002.399978,366654.633482,-0.121413,48.059648
1,TM_CDR_220_75_1987_04_26_bd1_7_utm23S,1987-04-26,esoil,TM,445.999999,724.000000,941.000000,1453.000000,2479.000010,2291.000011,...,-0.295120,-0.334864,0.449567,-0.260936,1.211312e-07,0.586123,10552.600101,209120.896785,-0.356885,54.487565
2,TM_CDR_220_75_1998_07_29_bd1_7_utm23S,1998-07-29,gcover,TM,301.999998,387.000009,367.999997,2119.000022,1308.000011,611.000004,...,0.652613,-0.691141,2.164454,0.236650,1.612828e-07,1.620031,-7684.200106,20297.136300,-0.098507,60.977524
3,ETM_CDR_220_75_2013_02_20_bd1_7_utm23S,2013-02-20,water,ETM,211.000001,233.000003,202.999998,211.000000,131.999996,45.000004,...,-0.919985,0.049550,0.850806,0.230321,1.616262e-05,1.598485,-745.800038,47299.000624,0.019324,18.778211
4,TM_CDR_222_76_2008_06_29_B1_14_UTM22,2008-06-29,shadow,TM,218.000000,282.000000,288.000000,542.000000,376.000000,202.000000,...,-0.062669,-0.315534,1.106122,0.180828,2.299192e-06,1.441489,-1549.600000,32666.214022,-0.138340,29.829658

In [10]:
burn.tail()

,Scene,Date,Class,Sensor,Blue,Green,Red,NIR,SWIR1,SWIR2,...,MSAVI,NDWI,SLAVI,NBR,BAIM,CSI,MIRBI,MI,S2,IRI
995,TM_CDR_222_76_2009_04_29_B1_14_UTM22,2009-04-29,gcover,TM,250.000000,375.000000,289.000000,2415.000000,1285.000000,435.000000,...,0.760625,-0.731183,3.335635,0.305405,1.336417e-07,1.879377,-10815.000000,11218.944099,-0.072356,68.454023
996,TM_CDR_220_75_2003_10_15_bd1_7_utm23S,2003-10-15,water,TM,235.999999,313.999994,257.999995,215.000000,41.000002,21.000003,...,-1.392254,0.187146,0.770609,0.679687,2.089072e-05,5.243902,-1694.999979,88924.796122,-0.044534,33.737147
997,TM_CDR_220_75_2006_06_16_bd1_7_utm23S,2006-06-16,BA,TM,316.000012,470.000000,521.000003,941.999993,1081.000007,785.000026,...,-0.106095,-0.334278,0.721286,-0.068710,4.865237e-07,0.871415,1580.400143,82143.231341,-0.244922,37.295096
998,TM_CDR_222_76_1988_09_26_B1_7_UTM22,1988-09-26,BA,TM,723.000000,760.000000,745.000000,898.000000,883.000000,879.000000,...,-0.658635,-0.083233,0.552956,0.008422,6.306562e-07,1.016988,31.600000,455860.356347,-0.014986,42.287976
999,TM_CDR_220_75_2006_04_14_bd1_7_utm23S,2006-04-14,harv,TM,559.999991,799.000003,1130.000006,1865.999993,2553.999993,2243.000003,...,-0.211078,-0.400375,0.553217,-0.155656,9.996338e-08,0.730619,7255.200000,270957.769761,-0.337278,57.733914

In [11]:
burn.shape

(1000, 22)

In [12]:
burn.dtypes

Scene      object
Date       object
Class      object
Sensor     object
Blue      float64
Green     float64
Red       float64
NIR       float64
SWIR1     float64
SWIR2     float64
NDVI      float64
GNDVI     float64
MSAVI     float64
NDWI      float64
SLAVI     float64
NBR       float64
BAIM      float64
CSI       float64
MIRBI     float64
MI        float64
S2        float64
IRI       float64
dtype: object

We can now start pre-processing the data for ML as usual. Unlike R, not only Python ML wants numeric arrays for all variables and will not recognize "factor" variables. So we need to encode the categorical variables as numeric, including the response variable.

So we select only the columns we need for the model, and then encode them.

In [68]:
# Drop columns we dont want
vars_df = burn.drop(columns = ['Scene','Date'])

# Make categorical variable boolean mask
categorical_feature_mask = vars_df.dtypes==object # filter categorical columns using mask and turn it into a list
print(categorical_feature_mask)

# Select columns
categorical_cols = vars_df.columns[categorical_feature_mask].tolist()
print(categorical_cols)

Class      True
Sensor     True
Blue      False
Green     False
Red       False
NIR       False
SWIR1     False
SWIR2     False
NDVI      False
GNDVI     False
MSAVI     False
NDWI      False
SLAVI     False
NBR       False
BAIM      False
CSI       False
MIRBI     False
MI        False
S2        False
IRI       False
dtype: bool
['Class', 'Sensor']

In [69]:
# # import labelencoder
from sklearn.preprocessing import LabelEncoder

# instantiate labelencoder object
le = LabelEncoder()

# Make dataframe to save labels

labels = pd.DataFrame()

# apply le on categorical feature columns
for col in categorical_cols:
        vars_df[col] = le.fit_transform(vars_df[col])
        cl = list(le.classes_)
        labels = pd.concat([labels, pd.DataFrame({col: cl})],sort=False)

print(labels)                           
vars_df.head(10)

    Class Sensor
0      BA    NaN
1   const    NaN
2   esoil    NaN
3  gcover    NaN
4    harv    NaN
5    road    NaN
6  shadow    NaN
7   water    NaN
0     NaN    ETM
1     NaN    OLI
2     NaN     TM

,Class,Sensor,Blue,Green,Red,NIR,SWIR1,SWIR2,NDVI,GNDVI,MSAVI,NDWI,SLAVI,NBR,BAIM,CSI,MIRBI,MI,S2,IRI
0,0,2,597.000001,726.999997,762.000000,901.999994,1283.999992,1466.999983,0.084135,0.107428,-0.688934,-0.107428,0.404666,-0.174748,4.062306e-07,0.702492,4002.399978,366654.633482,-0.121413,48.059648
1,2,2,445.999999,724.000000,941.000000,1453.000000,2479.000010,2291.000011,0.213868,0.334864,-0.295120,-0.334864,0.449567,-0.260936,1.211312e-07,0.586123,10552.600101,209120.896785,-0.356885,54.487565
2,3,2,301.999998,387.000009,367.999997,2119.000022,1308.000011,611.000004,0.704061,0.691141,0.652613,-0.691141,2.164454,0.236650,1.612828e-07,1.620031,-7684.200106,20297.136300,-0.098507,60.977524
3,7,0,211.000001,233.000003,202.999998,211.000000,131.999996,45.000004,0.019324,-0.049550,-0.919985,0.049550,0.850806,0.230321,1.616262e-05,1.598485,-745.800038,47299.000624,0.019324,18.778211
4,6,2,218.000000,282.000000,288.000000,542.000000,376.000000,202.000000,0.306024,0.315534,-0.062669,-0.315534,1.106122,0.180828,2.299192e-06,1.441489,-1549.600000,32666.214022,-0.138340,29.829658
5,5,2,801.000015,1222.000019,1547.000041,2595.000039,3363.000103,2879.000100,0.253018,0.359707,-0.192249,-0.359707,0.586308,-0.128902,5.542564e-08,0.771632,8201.000643,583521.272975,-0.317717,66.835943
6,0,2,559.999991,626.000000,649.000000,962.999988,1265.999990,1301.999977,0.194789,0.212083,-0.347628,-0.212083,0.493593,-0.135935,3.953316e-07,0.760664,3224.600012,236254.869422,-0.073615,45.514202
7,5,2,536.000000,862.000000,867.000000,1954.000000,1596.000000,1111.000000,0.385324,0.387784,0.112564,-0.387784,0.987867,0.100845,1.571216e-07,1.224311,-3187.200000,205006.010235,-0.235923,56.264441
8,5,2,548.000000,818.000000,881.000000,1670.000000,1251.000000,851.000000,0.309290,0.342444,-0.055072,-0.342444,0.964203,0.143444,2.297143e-07,1.334932,-3854.000000,236479.391617,-0.233030,52.992775
9,6,2,152.000004,205.000001,179.000000,658.000003,237.999996,142.999994,0.572282,0.524913,0.455739,-0.524913,2.043478,0.468750,2.043122e-06,2.764706,-4066.400072,8476.656751,-0.081571,43.647413

The next step is to separate the X and Y variables as individual arrays.

In [71]:
X = vars_df.iloc[:,1:].values
Y = vars_df.iloc[:,0].values

print(X[0:3,0:3])
print(Y[0:3])

[[  2.         597.00000122 726.99999687]
 [  2.         445.99999857 724.        ]
 [  2.         301.99999764 387.00000887]]
[0 2 3]

And then we split the data into training and testing, using `scikit-learn`.

In [72]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, train_size=0.7, test_size=0.3)

We can now fit our Random Forests and TPOT models to this dataset:

In [76]:
rf_mod.fit(X_train,Y_train)
Y_pred = rf_mod.predict(X_test)

accuracy_score(Y_test,Y_pred)

0.81

In [78]:
tpot_mod.fit(X_train,Y_train)

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=300, style=ProgressStyle(descript…

Generation 1 - Current best internal CV score: 0.8488084194407097
Generation 2 - Current best internal CV score: 0.8488084194407097
Generation 3 - Current best internal CV score: 0.8629849714326433
Generation 4 - Current best internal CV score: 0.8629849714326433
Generation 5 - Current best internal CV score: 0.8629849714326433

Best pipeline: ExtraTreesClassifier(RFE(PCA(input_matrix, iterated_power=5, svd_solver=randomized), criterion=gini, max_features=0.2, n_estimators=100, step=0.5), bootstrap=True, criterion=entropy, max_features=0.5, min_samples_leaf=1, min_samples_split=15, n_estimators=100)

TPOTClassifier(config_dict=None, crossover_rate=0.1, cv=5,
               disable_update_check=False, early_stop=None, generations=5,
               max_eval_time_mins=5, max_time_mins=None, memory=None,
               mutation_rate=0.9, n_jobs=8, offspring_size=None,
               periodic_checkpoint_folder=None, population_size=50,
               random_state=None, scoring=None, subsample=1.0, template=None,
               use_dask=False, verbosity=2, warm_start=False)

What if we give TPOT more time to search?

In [79]:
tpot_mod = TPOTClassifier(generations=10, population_size=100, verbosity=2, n_jobs=8)

tpot_mod.fit(X_train,Y_train)

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=1100, style=ProgressStyle(descrip…

Generation 1 - Current best internal CV score: 0.8559127758775997
Generation 2 - Current best internal CV score: 0.8559127758775997
Generation 3 - Current best internal CV score: 0.8559127758775997
Generation 4 - Current best internal CV score: 0.8630796914129742
Generation 5 - Current best internal CV score: 0.8630796914129742
Generation 6 - Current best internal CV score: 0.8630796914129742
Generation 7 - Current best internal CV score: 0.8630796914129742
Generation 8 - Current best internal CV score: 0.8716309834111428
Generation 9 - Current best internal CV score: 0.8716309834111428
Generation 10 - Current best internal CV score: 0.872977331199605

Best pipeline: ExtraTreesClassifier(OneHotEncoder(PCA(MaxAbsScaler(StandardScaler(input_matrix)), iterated_power=4, svd_solver=randomized), minimum_fraction=0.2, sparse=False, threshold=10), bootstrap=True, criterion=gini, max_features=0.4, min_samples_leaf=3, min_samples_split=8, n_estimators=100)

TPOTClassifier(config_dict=None, crossover_rate=0.1, cv=5,
               disable_update_check=False, early_stop=None, generations=10,
               max_eval_time_mins=5, max_time_mins=None, memory=None,
               mutation_rate=0.9, n_jobs=8, offspring_size=None,
               periodic_checkpoint_folder=None, population_size=100,
               random_state=None, scoring=None, subsample=1.0, template=None,
               use_dask=False, verbosity=2, warm_start=False)

How about a regression problem? Let's bring in another dataset, this time about the size of burned areas instead of just burned land.

In [92]:
burn2 = pd.read_csv('./data/forest_fires/forestfires.csv')
print(burn2.shape)
print(burn2.head())

(517, 13)
   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In this case, `X` and `Y` are spatial locations, and `data` is the response variable. Let's set it up.

In [93]:
cat_mask = burn2.dtypes==object # filter categorical columns using mask and turn it into a list
cat_cols = burn2.columns[cat_mask].tolist()

labels2 = pd.DataFrame()

for col in cat_cols:
        burn2[col] = le.fit_transform(burn2[col])
        cl = list(le.classes_)
        labels2 = pd.concat([labels2, pd.DataFrame({col: cl})],sort=False)

print(labels2)                           
burn2.head(10)

   month  day
0    apr  NaN
1    aug  NaN
2    dec  NaN
3    feb  NaN
4    jan  NaN
5    jul  NaN
6    jun  NaN
7    mar  NaN
8    may  NaN
9    nov  NaN
10   oct  NaN
11   sep  NaN
0    NaN  fri
1    NaN  mon
2    NaN  sat
3    NaN  sun
4    NaN  thu
5    NaN  tue
6    NaN  wed

   X  Y  month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0  7  5      7    0  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.0
1  7  4     10    5  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0
2  7  4     10    2  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
3  8  6      7    0  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
4  8  6      7    3  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
5  8  6      1    3  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
6  8  6      1    1  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
7  8  6      1    1  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
8  8  6     11    5  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0
9  7  5     11    2  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.0

In [98]:
X_vars = burn2.iloc[:,:-1].values
print(X_vars.shape)
Y_var = burn2.iloc[:,-1].values
print(Y_var.shape)
X_train, X_test, Y_train, Y_test = train_test_split(X_vars,Y_var, train_size=0.7, test_size=0.3)

(517, 12)
(517,)

Using Random Forests:

In [106]:
from sklearn.ensemble import RandomForestRegressor
import math

rf_reg = RandomForestRegressor(n_estimators=500)

rf_reg.fit(X_train,Y_train)

from sklearn.metrics import mean_squared_error

Y_pred = rf_reg.predict(X_test)

print(math.sqrt(mean_squared_error(Y_test,Y_pred)))

70.64890462746881

Using TPOT:

In [108]:
from tpot import TPOTRegressor

In [110]:
tp_reg = TPOTRegressor(generations=5, population_size=20, verbosity=2)
tp_reg.fit(X_train,Y_train)

Y_pred = tp_reg.predict(X_test)

print(math.sqrt(mean_squared_error(Y_test,Y_pred)))

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=120, style=ProgressStyle(descript…

Generation 1 - Current best internal CV score: -5129.143448637596
Generation 2 - Current best internal CV score: -5103.823182660069
Generation 3 - Current best internal CV score: -5103.823182660069
Generation 4 - Current best internal CV score: -5079.3576445159615
Generation 5 - Current best internal CV score: -5079.3576445159615

Best pipeline: AdaBoostRegressor(LassoLarsCV(input_matrix, normalize=True), learning_rate=0.5, loss=exponential, n_estimators=100)
74.14593844267826

In [111]:
tp_reg = TPOTRegressor(generations=10, population_size=50, verbosity=2)
tp_reg.fit(X_train,Y_train)

Y_pred = tp_reg.predict(X_test)

print(math.sqrt(mean_squared_error(Y_test,Y_pred)))

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=550, style=ProgressStyle(descript…

Generation 1 - Current best internal CV score: -5110.699613215833
Generation 2 - Current best internal CV score: -5110.699613215833
Generation 3 - Current best internal CV score: -5110.699613215833
Generation 4 - Current best internal CV score: -5110.699613215833
Generation 5 - Current best internal CV score: -5098.05626985058
Generation 6 - Current best internal CV score: -5098.05626985058
Generation 7 - Current best internal CV score: -5046.813824890077
Generation 8 - Current best internal CV score: -5046.813824890077
Generation 9 - Current best internal CV score: -5046.813824890077
Generation 10 - Current best internal CV score: -5046.813824890077

Best pipeline: RandomForestRegressor(RidgeCV(input_matrix), bootstrap=True, max_features=0.05, min_samples_leaf=3, min_samples_split=9, n_estimators=100)
41.32219075097994